.sidebar-box {
    float: left;
    margin: 40px 40px 0 0;
}
.files-box {
    float: left;
    min-width: 50%;
    margin: 40px 40px 0 0;
}
.cleaner {
    display:block;
    overflow:hidden;
    clear:both
}
.box_odd, .box_even { padding: 0 20px 0 20px }
.box_odd { background-color:#ebebf9; }
.box_even { background-color:#fff0f5; }