{% extends '::base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/catalog.css') }}">
{% endblock %}
{% block javascripts %}
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

    <script type='text/javascript' src="{{ asset('js/catalog.js') }}"></script>

{% endblock %}

{% import _self as tree %}

{% block body %}

    <div class="sidebar-box">
        <div class="span3">
            <div class="well">
                <div>
                    <ul class="nav nav-list">
                        {% for i, catalog in catalogs %}

                            {% if catalog.type == 1 and catalog.nodes|length > 0 %}
                                <li><label class="tree-toggle nav-header">{{ catalog.title }}</label>
                                    <ul class="nav nav-list tree" style="display:none">
                                        {{ tree.list(catalog.nodes) }}
                                    </ul>
                                </li>
                            {% endif %}

                            {% if catalog.type == 2 %}
                                <li><a href="javascript:Catalog.getFiles({{catalog.id}}, {{catalog.fcount}}, '{{ path('vev_catalog_ajax') }}');">{{ catalog.title }}</a></li>
                            {% endif %}

                            {% if i < (catalogs|length)-1 %}
                                <li class="divider"></li>
                            {% endif %}

                        {% endfor %}
                    </ul>
                </div>
            </div><!-- well -->
            <div id="fcount-box"></div>
        </div><!-- span3 -->
        <div class="cleaner"></div>
     </div><!-- sidebar-box -->
     <div class="files-box"></div>

{% endblock %}


{# 
    macro for recursive list creation 
    var nodes - array
#}

{% macro list(nodes) %}
    {% import _self as tree %}

    {% for catalog in nodes %}

        {% if catalog.type == 1 and catalog.nodes|length > 0 %}
            <li><label class="tree-toggle nav-header">{{ catalog.title }}</label>
                <ul class="nav nav-list tree" style="display:none">
                    {{ tree.list(catalog.nodes) }}
                </ul>
            </li>
        {% endif %}

        {% if catalog.type == 2 %}
            <li><a href="javascript:Catalog.getFiles({{catalog.id}}, {{catalog.fcount}}, '{{ path('vev_catalog_ajax') }}');">{{ catalog.title }}</a></li>
        {% endif %}

    {% endfor %}

{% endmacro %}